 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: rgb(223, 9, 9);
}

nav{
    background-color:white ;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid lightgray ;
}

nav a{
    color: #d35400;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

h1{
    color:orange;
    font-size: 30px;   
}

h2, h3{
    color: #555;
} 

img{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

ul{
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    list-style-type: none;
    margin-bottom: 20px;
}

a{
    color: orange ;
     text-decoration: none;
 }

 a:hover{
    text-decoration: underline;
 }

    




