* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background: lightgray;
    line-height: 1.6;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
    background: rgb(13, 15, 15);
    position: fixed;
    width: 100%;
    top: 0;
}

.logo{
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: overline solid yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.logo i {
    font-size: 2rem;
}

nav div a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav-link {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-link a {
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    padding: 8px 15px;
    
}

.nav-link a :hover {
    color:  white;
    background: #007bff;
    transform: translateY(-2px);
}
