*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f0f0;
    color: #333;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: fixed;
    background: white;
    color: coral;
    width: 100%;
    top: 0;
}

nav h1{
    font-size: 1.8rem;
    font-weight: 1500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 nav ul{
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
}

nav ul li a {
    text-decoration: none;
    padding: 0.5px 1px;
    border-radius: 5px;
    color: coral;
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: green;
    background: coral;
    transform: translateY(-2px);
}

 nav button{
    padding: 3px;
    color: coral;
    background: white;
}
nav button:hover{
    background: coral;
    color: white;
    cursor: pointer;
}
.logo-street {
    display: flex;
    align-items: center;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}